#product-sorting {
	text-align: right!important;
	font-family: georgia;
	float: right;
	clear: right;
	min-width: 200px;
}

#filter-form {
	float: right;
}

#product {
	clear: right;
}

.product-thumnail {
	text-align: center;
	height: 550px;
	width: 400px;
}

#input-number {
	width: 90px;
	margin-bottom: 10px;
}

.product-thumnail-image {
	img {
		border-bottom: 4px solid #efefef;
		padding-bottom: 5px;
	}
}

.product-name {
	font-family: georgia;
}

.product-quickview {
	position: absolute;
	text-align: center;
	margin-left: 40px;
	top: 100px;
	bottom: 300px;
	left: 50px;
	right: 50px;
	background: rgba(10, 0, 0, 0.10);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	vertical-align: middle;
	span {
		font-size: 50px;
		text-shadow: 2px 2px #91d2e2;
	}
}

.product-thumnail-image:hover .product-quickview {
	visibility: visible;
	opacity: 1;
}
