* {
  box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	text-align: center;
}

#content {
	text-align: center;
	h2, h4, .name {
		font-family: Georgia;
	}
}

.first-letter {
	font-size: 2em;
}

@import 'products';
